.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(156, 156, 151, 0.4);
    width: 100vw;
    max-width: 100%;
}

.abt-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding-top: 3rem;
    background-color: gray;
    color: white;
}

.about {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.about .abt-image {
    margin-left: 35px;
    margin-bottom: 3rem;
}

.about p {
    width: 40rem;
    font-size: 26px;
    padding-top: 2rem;
}

.abt-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding-top: 3rem;
    background-color: rgb(141, 132, 132);
    color: white;
}

.story {
    display: flex;
    justify-content: center;
    gap: 9rem;
    width: 100%;
}

.abt-container3 {
    width: 100%;
    max-width: 100%;
    padding-top: 3rem;
    background-color: rgb(158, 151, 151);
    color: white;
}

.services {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;
 
}

.service-img {
    margin-right: 7rem;
    margin-bottom: 3rem;
}

.service-container {
    display: flex;
    align-content: center;
    justify-self: center;
    flex-wrap: wrap;
    margin-left: 3.5rem;
    margin-bottom: 3rem;
    gap: 2rem;
}


.service p {
    width: 20rem;
    font-size: 20px;

}



.abt-image {
    width: 24rem;
    height: 50%;
}

.title {
    display: block;
    width: 100%;
    color: black;
}

.contact-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(179, 172, 172);
    padding-bottom: 3rem;
}

.contact-container h1 {
    margin-bottom: 3px;
}

.contacts {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.contacts a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.contacts a:visited, .contacts a:hover {
    color: black;
}